---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";
import HorizontalCard from "@components/HorizontalCard.astro";

const talks = (await getCollection("talks")).sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
var year: number = -1;
---

<BaseLayout title="Talks">
  <PageTitle>Talks</PageTitle>
  {
    talks.map((post) => {
      var year_heading = null;
      if (year != post.data.date.getFullYear()) {
        year = post.data.date.getFullYear();
        year_heading = year;
      }
      return (
        <>
          {year_heading && <h2 class="my-4 text-2xl font-bold">{year_heading}</h2>}
          <HorizontalCard
            title={post.data.title}
            description={post.data.description}
            url={"/talks/" + post.slug}
            hasYouTube={post.data.youtubeIDs}
            hasDownload={post.data.pdfURLs}
          />
        </>
      );
    })
  }
</BaseLayout>
