---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { Icon } from "astro-icon";

const workplaces = (await Astro.glob("./work/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="prose lg:prose-xl mt-5 pb-3">
    <h1>Hi there!</h1>
    <p class="lead">I'm a bioinformatician living in Stockholm, Sweden.</p>
    <p>I work with high-throughput genomics data and open-source software.</p>
  </div>
  <div class="pb-12 mt-2">
    <a
      href="https://github.com/ewels/"
      target="_blank"
      class="btn btn-ghost border-neutral btn-sm gap-2 mr-1 normal-case"
      aria-label="GitHub"
    >
      <Icon name="mdi:github" size="18px" /> GitHub
    </a>
    <a
      href="http://twitter.com/tallphil"
      target="_blank"
      class="btn btn-ghost border-neutral btn-sm gap-2 mr-1 normal-case"
      aria-label="twitter"
    >
      <Icon name="mdi:twitter" size="18px" /> Twitter
    </a>
    <a
      href="http://uk.linkedin.com/in/philewels"
      target="_blank"
      class="btn btn-ghost border-neutral btn-sm gap-2 mr-1 normal-case"
      aria-label="LinkedIn"
    >
      <Icon name="mdi:linkedin" size="18px" /> LinkedIn
    </a>
    <a
      href="http://orcid.org/0000-0003-4101-2502"
      target="_blank"
      class="btn btn-ghost border-neutral btn-sm gap-2 mr-1 normal-case"
      aria-label="ORCiD"
    >
      <Icon name="simple-icons:orcid" size="18px" /> ORCiD
    </a>
    <a
      href="https://scholar.google.se/citations?user=KJt8R0kAAAAJ&view_op=list_works&sortby=pubdate"
      target="_blank"
      class="btn btn-ghost border-neutral btn-sm gap-2 mr-1 normal-case"
      aria-label="Google Scholar"
    >
      <Icon name="simple-icons:googlescholar" size="18px" /> Google Scholar
    </a>
    <a
      href="http://www.researchgate.net/profile/Philip_Ewels"
      target="_blank"
      class="btn btn-ghost border-neutral btn-sm gap-2 mr-1 normal-case"
      aria-label="Research Gate"
    >
      <Icon name="simple-icons:researchgate" size="18px" /> Research Gate
    </a>
  </div>

  <div class="prose lg:prose-xl pb-12 mt-5">
    <h2>Where I've worked</h2>
    <p class="lead">I'm a molecular biologist, turned bioinformatician, turned research-software engineer.</p>
    <p>
      I began my career working with research in epigenetics, notably 3D nuclear structure and DNA methylation. I later
      started working with infrastructure and development of open-source bioinformatics tools. These are the places I
      have worked - click to find out more about the positions.
    </p>
  </div>
  {
    workplaces.map((post) => (
      <>
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
      </>
    ))
  }

  <div class="prose lg:prose-xl pb-12 mt-5">
    <h2>Projects</h2>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
      </>
    ))
  }
</BaseLayout>
