---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import HomepageButton from "../components/HomepageButton.astro";
import publications from "./publications/publications.json";

const workplaces = (await Astro.glob("./work/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.startDate).valueOf() - new Date(a.frontmatter.startDate).valueOf()
);
const projects = (await Astro.glob("./projects/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
const talks = (await Astro.glob("./talks/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.startDate).valueOf() - new Date(a.frontmatter.startDate).valueOf()
);
---

<BaseLayout>
  <div class="pb-3">
    <img src="/phil_ewels.jpg" class="mask mask-circle my-5 mx-auto w-1/2 md:hidden" alt="Philip Ewels" />
    <PageTitle extraClass="text-center md:text-left">Hi there!</PageTitle>
    <p class="mb-3 text-center text-xl md:text-left">I'm a bioinformatician living in Stockholm, Sweden.</p>
    <p class="text-center text-base font-light opacity-80 md:text-left">
      I work with high-throughput genomics data and open-source software.
    </p>
  </div>
  <div class="mt-2 pb-12 text-center md:text-left">
    <HomepageButton href="https://github.com/ewels/" title="GitHub" icon="mdi:github" />
    <HomepageButton href="http://twitter.com/tallphil" title="Twitter" icon="mdi:twitter" />
    <HomepageButton href="http://uk.linkedin.com/in/philewels" title="LinkedIn" icon="mdi:linkedin" />
    <HomepageButton href="http://orcid.org/0000-0003-4101-2502" title="ORCiD" icon="simple-icons:orcid" />
    <HomepageButton
      href="https://scholar.google.se/citations?user=KJt8R0kAAAAJ&view_op=list_works&sortby=pubdate"
      title="Google Scholar"
      icon="simple-icons:googlescholar"
    />
    <HomepageButton
      href="http://www.researchgate.net/profile/Philip_Ewels"
      title="Research Gate"
      icon="simple-icons:researchgate"
    />
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="mt-5 border rounded p-5 shadow">
    <h2 class="mb-5 text-2xl">Where I've worked</h2>
    <p class="mb-3">I'm a molecular biologist, turned bioinformatician, turned research-software engineer.</p>
    <div class="flex justify-around">
    {
      workplaces.map((post) => (
        <a href={post.url} title={post.frontmatter.title} class="tooltip" data-tip={post.frontmatter.title}>
          <img src={post.frontmatter.iconImage} alt={post.frontmatter.title} class="w-12 rounded p-2 dark:bg-zinc-100 border"  />
        </a>
      ))
    }
    </div>
  </div>

  <div class="mt-5 border rounded p-5 shadow">
    <h2 class="mb-5 text-2xl">Projects</h2>
    <p class="mb-3">Explore some of the projects I've worked on.</p>
    <div class="flex justify-around">
        {
      projects.map((post) => (
        <a href={post.url} title={post.frontmatter.title} class="tooltip" data-tip={post.frontmatter.title}>
          <img src={post.frontmatter.iconImage} alt={post.frontmatter.title} class="w-12 rounded p-2 dark:bg-zinc-100 border"  />
        </a>
      ))
    }
    </div>
  </div>

  <div class="mt-5 border rounded p-5 shadow">
    <h2 class="mb-5 text-2xl">Talks</h2>
    <p class="mb-3">Find recordings and slides from presentations I've given.</p>
    <div class="flex justify-around">
        {
      talks.map((post) => (
        <a href={post.url} title={post.frontmatter.title} class="tooltip" data-tip={post.frontmatter.title}>
          <img src={post.frontmatter.iconImage} alt={post.frontmatter.title} class="w-12 rounded p-2 dark:bg-zinc-100 border"  />
        </a>
      ))
    }
    </div>
  </div>

  <div class="mt-5 border rounded p-5 shadow">
    <h2 class="mb-5 text-2xl">Publications</h2>
    <p class="mb-3">Delve into journal articles that I've written or worked on.</p>
    <p>Read { publications.length } publications</p>
  </div>
  </div>

  <h2 class="mb-5 text-2xl">Contact me</h2>
  <p>Want to talk? Get in touch.</p>
</BaseLayout>
