---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import HomepageButton from "../components/HomepageButton.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { Icon } from "astro-icon";

const workplaces = (await Astro.glob("./work/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.startDate).valueOf() - new Date(a.frontmatter.startDate).valueOf()
);
const projects = (await Astro.glob("./projects/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout>
  <div class="pb-3">
    <img src="/phil_ewels.jpg" class="w-1/2 my-5 mx-auto mask mask-circle md:hidden" alt="Philip Ewels" />
    <PageTitle extraClass="text-center md:text-left">Hi there!</PageTitle>
    <p class="text-xl mb-3 text-center md:text-left">I'm a bioinformatician living in Stockholm, Sweden.</p>
    <p class="text-base opacity-80 text-center md:text-left font-light">
      I work with high-throughput genomics data and open-source software.
    </p>
  </div>
  <div class="pb-12 mt-2 text-center md:text-left">
    <HomepageButton href="https://github.com/ewels/" title="GitHub" icon="mdi:github" />
    <HomepageButton href="http://twitter.com/tallphil" title="Twitter" icon="mdi:twitter" />
    <HomepageButton href="http://uk.linkedin.com/in/philewels" title="LinkedIn" icon="mdi:linkedin" />
    <HomepageButton href="http://orcid.org/0000-0003-4101-2502" title="ORCiD" icon="simple-icons:orcid" />
    <HomepageButton
      href="https://scholar.google.se/citations?user=KJt8R0kAAAAJ&view_op=list_works&sortby=pubdate"
      title="Google Scholar"
      icon="simple-icons:googlescholar"
    />
    <HomepageButton
      href="http://www.researchgate.net/profile/Philip_Ewels"
      title="Research Gate"
      icon="simple-icons:researchgate"
    />
  </div>

  <div class="pb-12 mt-5">
    <h2 class="text-4xl mb-5">Where I've worked</h2>
    <p class="text-xl mb-3">I'm a molecular biologist, turned bioinformatician, turned research-software engineer.</p>
    <p class="mb-5 text-base font-light opacity-80">
      I began my career working with research in epigenetics, notably 3D nuclear structure and DNA methylation. I later
      started working with infrastructure and development of open-source bioinformatics tools. These are the places I
      have worked - click to find out more about the positions.
    </p>
    {
      workplaces.map((post) => (
        <>
          <HorizontalCard
            title={post.frontmatter.title}
            img={post.frontmatter.iconImage}
            desc={post.frontmatter.description}
            descImage={post.frontmatter.descImage}
            tags={post.frontmatter.tags}
            url={post.url}
          />
        </>
      ))
    }
  </div>

  <div class="mt-12">
    <h2 class="text-4xl mb-5">Projects</h2>

    {
      projects.map((post) => (
        <>
          <HorizontalCard
            title={post.frontmatter.title}
            img={post.frontmatter.iconImage}
            desc={post.frontmatter.description}
            url={post.url}
          />
        </>
      ))
    }
  </div>
</BaseLayout>
