---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

import { Tooltips } from "astro-tooltips";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/social_img.png" } = Astro.props;

const page_title = title && title != SITE_TITLE ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---

<script is:inline>
  // Light / dark mode switch
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  function set_theme() {
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  }
  set_theme();

  // Listen to page load event
  ["after-swap", "page-load"].forEach(function (e) {
    document.addEventListener(`astro:${e}`, function () {
      set_theme();
    });
  });
  // Listen to system theme change, because why not
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", ({ matches }) => {
    set_theme();
  });
</script>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{page_title}</title>
<meta name="title" content={page_title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={page_title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={page_title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Tooltips -->
<Tooltips placement="top" delay={[0, 100]} />

<ViewTransitions />
