---
import { Icon } from "astro-icon/components";

const { id = "", type = false, href = "", classes = false, icon = false, iconAfter = false } = Astro.props;

var btn_classes = "not-prose " + (icon ? "icon " : "") + (classes ? classes : "");
const target = href.startsWith("http") ? "_blank" : "_self";
---

{
  type && (
    <button type={type} class={btn_classes} id={id}>
      {icon && <Icon name={icon} size={24} class="mr-2 inline-block" />}
      <slot />
      {iconAfter && <Icon name={iconAfter} size={18} class="ml-2 inline-block" />}
    </button>
  )
}
{
  !type && (
    <a href={href} class={btn_classes} target={target}>
      {icon && <Icon name={icon} size={24} class="mr-2 inline-block" />}
      <slot />
      {iconAfter && <Icon name={iconAfter} size={18} class="ml-2 inline-block" />}
    </a>
  )
}

<style>
  a,
  button {
    @apply inline-flex rounded bg-blue-500 px-5 py-4 text-xs font-semibold text-white transition-colors enabled:hover:bg-blue-700 disabled:cursor-default disabled:opacity-50;
    .icon {
      @apply pl-3 pr-5;
    }
  }
</style>
