---
import { Icon } from "astro-icon/components";

const { href, classes, icon, iconAfter } = Astro.props;

var btn_classes = "bg-blue-500 hover:bg-blue-700 transition-colors text-white text-xs font-semibold rounded py-4 ";
if (Astro.props.icon) {
  btn_classes += "pl-3 pr-5 ";
} else {
  btn_classes += "px-5 ";
}
if (Astro.props.classes) {
  btn_classes += Astro.props.classes;
}
const target = Astro.props.href.startsWith("http") ? "_blank" : "_self";
---

<a href={href} class={btn_classes} target={target}>
  {icon && <Icon name={icon} size="24px" class="mr-2 inline-block" />}
  <slot />
  {iconAfter && <Icon name={iconAfter} size="18px" class="ml-2 inline-block" />}
</a>
