---
import type { CollectionEntry } from "astro:content";
interface Props {
  title: string;
  description: string;
  href: string;
  btn_text: string;
  items: [any];
}

const { title, description, href, btn_text, btn_badge, items } = Astro.props;
---

<div class="flex flex-col justify-between rounded border shadow dark:border-zinc-700">
  <h2 class="m-5 text-2xl"><a href={href}>{title}</a></h2>
  <p class="mx-5 mb-5 grow self-stretch">{description}</p>
  {
    items && (
      <div class="flex justify-around p-5 border-t bg-zinc-100 dark:border-t-zinc-700 dark:bg-zinc-800">
        {items &&
          items.map((item) => (
            <a
              href={item.url}
              title={item.title}
              class="w-12 rounded border p-2 shadow hover:border-gray-400 dark:border-gray-700 hover:dark:border-gray-500 transition-colors"
            >
              <img src={item.iconImage} alt={item.title} class="block dark:hidden" />
              <img src={item.iconImageDark ?? item.iconImage} alt={item.title} class="hidden dark:block" />
            </a>
          ))}
      </div>
    )
  }
  {
    btn_text && (
      <a href={href} class="block  p-5 w-full text-center border-t bg-zinc-100 dark:border-t-zinc-700 dark:bg-zinc-800">
        {btn_text}
        {btn_badge && (
          <span class="inline-block ml-2 px-2 py-1 text-xs font-bold leading-none text-black/40 dark:text-white/70 bg-sky-800/20 dark:bg-sky-800 rounded-full">
            {btn_badge}
          </span>
        )}
      </a>
    )
  }
</div>
