---
const { title, subtitle, img, description, url, badge, countryFlag, tags, target = "_self" } = Astro.props;
import { Icon } from "astro-icon";
---

<div
  class="-mx-4 border-t border-slate-300 border-l-primary bg-white px-4 transition-[border,margin] ease-in-out last:border-b hover:-mr-6 hover:border-l-8 dark:border-zinc-600 dark:bg-black/20 md:-mx-10 md:px-10 md:hover:-mr-12"
>
  <a href={url} target={target} class="horizontal-card py-2 2xl:p-4">
    {img && <img src={img} alt={title} class="w-12 rounded p-2 dark:bg-zinc-100" />}
    <div class="w-full grow">
      <h1 class={"block font-medium 2xl:ml-4 2xl:inline " + (subtitle ? "text-lg" : "text-xl")}>
        {title}
        {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
      </h1>
      {subtitle && <h2 class="text-l">{subtitle} </h2>}
      <p class="text-1xl block py-1 font-light text-gray-500 dark:text-gray-300 2xl:ml-4 2xl:inline">
        {description}
        {countryFlag && <img src={countryFlag} class="ml-2 hidden w-[18px] md:inline-block" />}
        {
          tags &&
            tags.map((tag) => (
              <span class="ml-2 hidden whitespace-nowrap rounded border bg-gray-50 px-1 py-0.5 text-xs text-slate-500 dark:border-zinc-600 dark:bg-stone-800 dark:text-slate-300 md:inline-block">
                {tag}
              </span>
            ))
        }
      </p>
    </div>
    <div class="hidden md:block">
      <Icon name="bi:arrow-right" size="16" class="text-black-50" />
    </div>
  </a>
</div>
