---
const {
  title,
  subtitle,
  img,
  imgDark,
  description,
  url,
  postDate,
  badge,
  countryFlag,
  tags,
  target = "_self",
  hasYouTube,
  hasDownload,
} = Astro.props;
import { Icon } from "astro-icon/components";

const nth = (d) => {
  if (d > 3 && d < 21) return "th";
  switch (d % 10) {
    case 1:
      return "st";
    case 2:
      return "nd";
    case 3:
      return "rd";
    default:
      return "th";
  }
};
const dateString = (d) => {
  return d.toLocaleString("default", { month: "long" }) + " " + d.getDay() + "<sup>" + nth(d.getDay()) + "</sup>";
};
---

<div
  class="-mx-4 border-t border-slate-300 border-l-blue-500 bg-white px-4 transition-[border,margin,padding] ease-in-out last-of-type:border-b hover:-mr-8 hover:border-l-8 md:-mx-10 md:px-10 md:hover:-mr-10 md:hover:pr-8 dark:border-zinc-600 dark:border-l-blue-500 dark:bg-black/20"
>
  <a href={url} target={target} class="horizontal-card py-2 2xl:p-4">
    {img && <img src={img} alt={title} class="block w-12 rounded border p-2 shadow dark:hidden" />}
    {
      (img || imgDark) && (
        <img
          src={imgDark ?? img}
          alt={title}
          class="hidden w-12 rounded border border-gray-700 p-2 shadow dark:block"
        />
      )
    }
    <div class="w-full grow">
      <h1 class={"block font-medium " + (subtitle ? "text-lg" : "text-xl")}>
        {title}
        {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
      </h1>
      {subtitle && <h2 class="text-l">{subtitle} </h2>}
      <p class="text-1xl block py-1 font-light text-gray-500 dark:text-gray-300">
        {postDate && <Fragment set:html={dateString(postDate)} />}
        {postDate && description && <span class="mx-2">&bull;</span>}
        {description}
        {countryFlag && <img src={countryFlag} class="ml-2 hidden w-[18px] md:inline-block" />}
        {
          tags &&
            tags.map((tag) => (
              <span class="ml-2 hidden whitespace-nowrap rounded border border-gray-400 bg-gray-50 px-1 text-xs text-slate-800 opacity-50 md:inline-block dark:bg-gray-800 dark:text-slate-200">
                {tag}
              </span>
            ))
        }
        {
          hasDownload && (
            <Icon name="bi:file-earmark-pdf" class="ml-2 hidden w-[18px] md:inline-block" title="Slides available" />
          )
        }
        {
          hasYouTube && (
            <Icon name="mdi:youtube" class="ml-2 hidden w-[18px] md:inline-block" title="Recording available" />
          )
        }
      </p>
    </div>
    <div class="hidden md:block">
      <Icon name="bi:arrow-right" size="16" class="text-black-50" />
    </div>
  </a>
</div>
