---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Button from "@components/Button.astro";

export async function getStaticPaths() {
  const projectEntries = await getCollection("projects");
  return projectEntries.map((entry) => ({
    params: { project: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description} image={entry.data.heroImage}>
  <article class="prose prose-lg max-w-none dark:prose-invert prose-img:mx-auto md:justify-center">
    {
      entry.data.iconImage && (
        <img
          src={entry.data.iconImage}
          alt={entry.data.title}
          class="not-prose float-right mb-6 ml-8 mt-2 block max-h-28 max-w-60 dark:hidden"
        />
      )
    }
    {
      (entry.data.iconImage || entry.data.iconImageDark) && (
        <img
          src={entry.data.iconImageDark ?? entry.data.iconImage}
          alt={entry.data.title}
          class="not-prose float-right mb-6 ml-8 mt-2 hidden max-h-28 max-w-60 dark:block"
        />
      )
    }
    <h1 class="title my-2 grow text-4xl font-bold">
      {entry.data.title}
    </h1>
    <p class="text-xl">{entry.data.description}</p>

    <p class="mb-5">
      {
        entry.data.projectURL && (
          <Button href={entry.data.projectURL} icon="mdi:link" classes="mr-4">
            {entry.data.projectURL}
          </Button>
        )
      }
      {
        entry.data.github && (
          <Button href={"https://github.com/" + entry.data.github} icon="mdi:github">
            {entry.data.github}
          </Button>
        )
      }
    </p>

    {
      entry.data.heroImage && (
        <img
          src={entry.data.heroImage}
          alt={entry.data.title}
          class="mb-6 w-full border drop-shadow-lg dark:border-zinc-600"
        />
      )
    }
    <Content />
  </article>
</BaseLayout>
