---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const workEntries = await getCollection("workplaces");
  return workEntries.map((entry) => ({
    params: { workplace: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description} image={entry.data.heroImage}>
  <article class="prose prose-lg max-w-none dark:prose-invert prose-img:mx-auto md:justify-center">
    <div class="mb-12 flex flex-row items-center">
      <h1 class="title my-2 grow text-4xl font-bold">
        {entry.data.title}
      </h1>
      {
        entry.data.logoImage && (
          <img
            src={entry.data.logoImage}
            alt={entry.data.title}
            class="float-right my-0 max-h-16 max-w-60 dark:max-h-24 dark:max-w-64 dark:rounded dark:bg-white dark:p-4"
          />
        )
      }
    </div>
    <p class="text-xl">{entry.data.description}</p>
    {
      entry.data.heroImage && (
        <img
          src={entry.data.heroImage}
          alt={entry.data.title}
          class="mb-6 w-full border drop-shadow-lg dark:border-zinc-600"
        />
      )
    }
    <Content />
  </article>
</BaseLayout>
