---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import Hologram from "@components/Hologram.astro";

export async function getStaticPaths() {
  const workEntries = await getCollection("workplaces");
  return workEntries.map((entry) => ({
    params: { workplace: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description} image={entry.data.heroImage}>
  <div class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] dark:prose-invert prose-img:mx-auto">
      <div class="mb-12 flex flex-row items-center">
        <h1 class="title my-2 grow text-4xl font-bold">
          {entry.data.title}
        </h1>
        {
          entry.data.logoImage && (
            <img
              src={entry.data.logoImage}
              alt={entry.data.title}
              class="max-w-60 dark:max-w-64 float-right my-0 max-h-16 dark:max-h-24 dark:rounded dark:bg-white dark:p-4"
            />
          )
        }
      </div>
      <p class="text-xl">{entry.data.description}</p>
      {entry.data.pubDate && <time>{entry.data.pubDate}</time>}
      {
        entry.data.updatedDate && (
          <div>
            {" "}
            Last updated on <time>{entry.data.updatedDate}</time>{" "}
          </div>
        )
      }
      {
        entry.data.heroImage && (
          <img
            src={entry.data.heroImage}
            alt={entry.data.title}
            class="mb-6 w-full border drop-shadow-lg dark:border-zinc-600"
          />
        )
      }

      <div class="divider my-2"></div>
      <Content />
    </article>
  </div>
</BaseLayout>
