---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";
import HorizontalCard from "@components/HorizontalCard.astro";

const workplaces = (await getCollection("workplaces")).sort(
  (a, b) => new Date(b.data.startDate).valueOf() - new Date(a.data.startDate).valueOf(),
);
const education = (await getCollection("education")).sort(
  (a, b) => new Date(b.data.startDate).valueOf() - new Date(a.data.startDate).valueOf(),
);
---

<BaseLayout title="Where I've worked">
  <PageTitle>Where I've worked</PageTitle>
  <p class="mb-3 text-xl">I'm a molecular biologist, turned bioinformatician, turned research-software engineer.</p>
  <p class="mb-5 text-base font-light opacity-80">
    I began my career in the lab, working with research in epigenetics. I later started working with infrastructure and
    development of open-source bioinformatics tools, which finally led me to working with open souce communities and
    project management.
  </p>
  <ul>
    <!--List the array of astronaut info-->
    {
      workplaces.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.iconImage}
            imgDark={post.data.iconImageDark ?? post.data.iconImage}
            description={post.data.location}
            countryFlag={post.data.countryFlag}
            tags={[post.data.numPositions + " position" + (post.data.numPositions > 1 ? "s" : "")]}
            url={"/work/" + post.slug}
          />
        </>
      ))
    }
  </ul>

  <h2 class="mb-8 mt-12 text-3xl font-bold">Education</h2>
  <ul>
    <!--List the array of astronaut info-->
    {
      education.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            subtitle={post.data.subtitle}
            img={post.data.iconImage}
            imgDark={post.data.iconImageDark ?? post.data.iconImage}
            description={post.data.location}
            countryFlag={post.data.countryFlag}
            url={"/education/" + post.slug}
          />
        </>
      ))
    }
  </ul>
</BaseLayout>
