---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    iconImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, iconImage },
} = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <div class="md:flex md:justify-center">
    <article class="prose-lg prose max-w-[750px] prose-img:mx-auto dark:prose-invert">
      {heroImage && <img src={heroImage} alt={title} class="mb-6 w-full border drop-shadow-lg dark:border-zinc-600" />}
      <div class="flex flex-row items-center">
        <h1 class="title my-2 grow text-4xl font-bold">
          {title}
        </h1>
        {
          iconImage && (
            <img
              src={iconImage}
              alt={title}
              class="float-right my-0 w-16 dark:w-24 dark:rounded dark:bg-white dark:p-4"
            />
          )
        }
      </div>
      {pubDate && <time>{pubDate}</time>}
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </div>
</BaseLayout>
