---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    iconImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, iconImage },
} = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {heroImage && <img src={heroImage} alt={title} class="w-full mb-6 drop-shadow-lg border" />}
      <div class="flex flex-row items-center">
        <h1 class="title my-2 text-4xl font-bold grow">
          {title}
        </h1>
        {iconImage && <img src={iconImage} alt={title} class="float-right w-16 my-0" />}
      </div>
      {pubDate && <time>{pubDate}</time>}
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
