---
import BaseLayout from "./BaseLayout.astro";
import Author from "@components/Author.astro";
import { Icon } from "astro-icon";

export interface Props {
  content: {
    doi: string;
    slug: string;
    title: string;
    description?: string;
    journal: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    iconImage?: string;
  };
}

const {
  content: { doi, slug, title, description, journal, pubDate, updatedDate, heroImage, iconImage },
} = Astro.props;

// Get data for this publication
import publications from "../pages/publications/publications.json";
const pub = publications[doi];
const pub_year = pub.published["date-parts"][0][0];
---

<BaseLayout title={title} description={description}>
  <div class="md:flex md:justify-center">
    <div class="max-w-[750px]">
      <h1 class="mb-4 text-xl font-bold md:text-3xl">{title}</h1>
      <h2 class="mb-2"><span class="mr-2 italic">{journal}</span> ({pub_year})</h2>
      <h3 class="mb-4"><ul class="authors">{pub.author.map((author) => <Author author={author} />)}</ul></h3>

      <div class="flex flex-row py-8">
        <div class="basis-1/2">
          <span class="__dimensions_badge_embed__" data-doi={doi} data-legend="always"></span>
          <script is:inline src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
        </div>

        <div class="basis-1/2 py-3 md:text-right">
          <p class="mb-3">
            <a class="btn" href={pub.URL}
              >View publication <Icon name="tabler:external-link" size="18px" class="ml-3 -mt-1" />
            </a>
          </p>
          <p>
            <abbr title="Digital Object Identifier">DOI</abbr>: <span class="badge-outline badge ml-1 p-3 opacity-50"
              >{doi}</span
            >
          </p>
        </div>
      </div>
      <article class="prose-lg prose prose-img:mx-auto dark:prose-invert">
        <slot />
      </article>
    </div>
  </div>
</BaseLayout>

<style lang="scss" is:global>
  .authors {
    li {
      display: inline;
      margin-right: 0.5rem;
    }
    li:not(:last-child):after {
      content: ", ";
      margin-left: -0.1rem;
    }
  }
</style>
